{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block content_title 'Welcome to EasyAdmin 3' %}

  {% block page_actions %}
    {# <a class="btn btn-primary" href="...">Action</a> #}
  {% endblock %}

  {% block main %}
    {# if you use react example <div id="default"></div> #}
    {# @todo : charjs system #}
    {# {{ render_chart(chart) }} #}
    {# <table class="datagrid">
      <thead>
        <tr>
          <td>Some Column 1</td>
          <td>Some Column 2</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Column 1</td>
          <td>Column 2</td>
        </tr>
      </tbody>
    </table> #}
  {% endblock %}
