{% extends 'email/api/base.html.twig' %}
{% trans_default_domain 'email' %}

{% block title %}
	{{ 'email.register.title'|trans }}
{% endblock %}

{% block body %}

	<h1>Your secret Password user</h1>

	<p>{{ reset.secret|raw }}</p>

	<p>This secret is valid for {{ minutes|raw }} minutes</p>

{% endblock %}
