{% extends 'email/admin/base.html.twig' %}

{% block body %}

    <h1>Hi!</h1>

    <p>To reset your password, please visit the following link</p>

    <a href="{{ url('admin_reset_password', {token: resetToken.token}) }}">{{ url('admin_reset_password', {token: resetToken.token}) }}</a>

    <p>This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>

    <p>Cheers!</p>

{% endblock %}
