{% extends 'admin/layout/_default.html.twig' %}
{% trans_default_domain translation_domain ?? 'admin' %}

{% block body_class 'page-login' %}

{% block page_title %} {{ 'pages.callback.header'|trans }} {% endblock %}

{% block wrapper_wrapper %}
    <div class="login-wrapper">

        <header class="main-header mb-2">
            <div id="header-logo"> <h4 class="logo">{{ 'pages.callback.title'|trans }}</h4> </div>
        </header>

        {% block flash_messages %}
            {% include '/admin/includes/flash/callback_flash_messages.html.twig' %}
        {% endblock flash_messages %}

        <div class="d-grid gap-2 mt-4">
            <a 
                href="{{ path('admin_default') }}" 
                class="btn btn-primary btn-lg btn-block">{{ 'pages.default.header'|trans }}
            </a>
        </div>

    </div>
{% endblock %}
