<div id="flash-messages">
    {% for flash in app.flashes('admin_callback_flashes') %}
        <div class="w-100 alert rounded mb-3 alert-{{ flash.class }}" role="alert">
            {{ flash.message }}
            <button type="button" class="alert-close" onclick="this.closest('div').style.display='none'">&times;</button>
        </div>
    {% endfor %}
</div>
