<div id="flash-messages">
    {% for flash in app.flashes('admin_default_flashes') %}
        <div class="alert alert-{{ flash.class }} alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ flash.message }}
        </div>
    {% endfor %}
</div>
